body {
  background: linear-gradient(to right,
    rgba(139,0,0,0.7),
    rgba(139,0,0,0.7) 50%,
    rgba(0,100,0,0.6) 50%,
    rgba(0,100,0,0.6) 100%);
  height: 1px;
}

.mainTitle {
  margin-top: 12vh;
  margin-left: 50%;
  padding-top: 21vh;
  padding-bottom: 0vh;
  position: absolute;
  left: -960px;
  text-align: left;
  font-size: 3.8rem;
  background:
    linear-gradient(to left,
      rgba(255,255,255,0),
      rgba(255,255,255,0.9) 10%,
      rgba(255,255,255,0.9));
  width: 576px;
  height: 60vh;
}

.mainTitle div {
  padding-left: 9%;
  width: 81%;
}

.introBody {
  overflow: hidden;
}

.introBodyMax {
  margin-left: 50%;
  left: -960px;
  background-color: white;
  width: 1920px;
}

.introImage {
  background-position: center;
  background-size: cover;
  animation-duration: 30s;
  animation-timing-function: ease-out;
}

@keyframes backgroundMax1812 {
  0% {
    opacity: 1;
    transform: scale(1,1);
  }
  14% {
    opacity: 1;
    transform: scale(1.1,1.1);
  }
  15% {
    opacity: 0;
    transform: scale(1.1,1.1);
  }
  98% {
    opacity: 0;
    transform: scale(1.1,1.1);
  }
  99% {
    opacity: 0;
    transform: scale(1,1);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}

@keyframes backgroundMaxFrontier {
  0% {
    opacity: 1;
    transform: scale(1,1);
  }
  15% {
    transform: scale(1,1);
  }
  29% {
    opacity: 1;
    transform: scale(1.1,1.1);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundMaxWW2 {
  0% {
    opacity: 1;
    transform: scale(1,1);
  }
  30% {
    transform: scale(1,1);
  }
  44% {
    opacity: 1;
    transform: scale(1.1,1.1);
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundMaxKorea {
  0% {
    opacity: 1;
    transform: scale(1,1);
  }
  45% {
    transform: scale(1,1);
  }
  59% {
    opacity: 1;
    transform: scale(1.1,1.1);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundMaxVietnam {
  0% {
    opacity: 1;
    transform: scale(1,1);
  }
  60% {
    transform: scale(1,1);
  }
  74% {
    opacity: 1;
    transform: scale(1.1,1.1);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundMaxAfghanistan {
  0% {
    opacity: 1;
  }
  75% {
    transform: scale(1,1);
  }
  89% {
    opacity: 1;
    transform: scale(1.1,1.1);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundMaxIraq {
  0% {
    opacity: 1;
    transform: scale(1,1);
  }
  90% {
    transform: scale(1,1);
  }
  99% {
    opacity: 1;
    transform: scale(1.1,1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1.1,1.1);
  }
}

.intro1812 {
  margin-left: 50%;
  animation-duration: 30s;
  left: -960px;
  width: 1920px;
  animation-name: backgroundMax1812;
}

.introFrontier {
  margin-left: 50%;
  animation-duration: 30s;
  left: -960px;
  width: 1920px;
  animation-name: backgroundMaxFrontier;
}

.introWW2 {
  margin-left: 50%;
  animation-duration: 30s;
  left: -960px;
  width: 1920px;
  animation-name: backgroundMaxWW2;
}

.introKorea {
  margin-left: 50%;
  animation-duration: 30s;
  left: -960px;
  width: 1920px;
  animation-name: backgroundMaxKorea;
}

.introVietnam {
  margin-left: 50%;
  animation-duration: 30s;
  left: -960px;
  width: 1920px;
  animation-name: backgroundMaxVietnam;
}

.introAfghanistan {
  margin-left: 50%;
  animation-duration: 30s;
  left: -960px;
  width: 1920px;
  animation-name: backgroundMaxAfghanistan;
}

.introIraq {
  margin-left: 50%;
  animation-duration: 30s;
  left: -960px;
  width: 1920px;
  animation-name: backgroundMaxIraq;
}

.bottomView {
  margin-left: 50%;
  left: -960px;
  font-size: 1.2rem;
  width: 1920px;
}

.lowerBody {
  margin-left: 50%;
  left: -960px;
  width: 1920px;
}

.welcomeContent {
  padding: 30px 25% 80px 25%;
}

.desktopTitle {

}

.mobileTitle {
  display: none;
}

.allCompartments {
  display: block;
}

.oneCompartment {
  display: flex;
  flex-direction: row;
}

.mobileComponent {
  flex-grow: 1;
  flex-basis: 0;
}

.desktopComponent {
  display: flex;
  align-items: stretch;
}

.sectionTitle {
  padding-top: 30px;
  padding-right: 3%;
  padding-bottom: 30px;
  padding-left: 3%;
  font-size: 3rem;
  flex-basis: 0;
  flex-grow: 1;
}

.sectionContent {
  flex-basis: 0;
  flex-grow: 1;
  font-size: 2rem;
}
