.main {
  padding-top: 12vh;
}

.mainTitle {
  margin: 0;
  font-size: 3.5rem;
}

.regIntro {
  background-size: 100% 100%, 414px 414px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.regBttn {
  margin: 0 0 0 0;
  padding: 25px 0;
  font-size: 2rem;
  width: 25%;
}

.regForm {
  grid-template-columns: 47% auto 47%;
}

.regRow {
  display: grid;
  grid-template-columns: 33% auto 33%;
}

.regSection {
  padding: 20px 2%;
}

.theOr {
  margin-top: 40px;
  font-size: 2rem;
}

.costTitle {
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  width:83%;
}

.costInLine {
  display: inherit;
}

.costNumbers {
  display: none;
}
