.main {
  padding-top: 12vh;
}

.mainTitle {
  margin-left: 20%;
  display: block;
  font-size: 4.5rem;
  width: 60%;
}

.itemList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px 1%;
  /* NOTE: The gap's column-gap is 3% (instead of 4%) because the borders adds to the overall width */
}

.gridItem {
  width: 30%;
}

/* FOR CART */

.cartFilled {
  display: grid;
  grid-template-columns: 70% 30%;
}
