.main {
  padding-top: 10vh;
  background: repeating-linear-gradient(
      -45deg,
      grey,
      white 100px,
      grey 130px,
      white 180px,
      grey 300px,
      white 410px,
      grey 550px)
}

.content {
  min-height: 90vh;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  margin: 0 5% 10vh 5%;
  padding-top: 5vh;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Vollkorn SC', sans-serif;
}

.itemDirections {
  margin: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.itemDirections a {
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-size: 1.1rem;
  background-color: rgba(255,255,255,0.7);
}

.itemDirections input {
  border-radius: 20px;
  padding: 5px;
  color: white;
  font-size: 1.3rem;
  background-color: green;
}

.itemHeader {
  display: none;
}

.itemList {
  margin: 0 5% 25px 5%;
  padding-top: 25px;
}

.gridItem {
  margin-bottom: 10px;
  border: 1px solid black;
  /* padding: 20px 5%; */
  display: grid;
  grid-template-areas:
    "name name"
    "price count"
    "description description";
  grid-template-columns: 50% 50%;
  background-color: white;
}

.gridName {
  padding: 10px 5%;
  grid-area: name;
  color: white;
  text-align: center;
  background-color: red;
}

.gridPrice {
  grid-area: price;
  margin: 5px 0 0 5%;
  text-align: center;
  width: 95%;
}
.gridCount {
  grid-area: count;
  margin: 5px 5% 0 0;
  text-align: center;
  width: 95%;
}

.gridCount input {
  width: 30%;
}

.gridDescription {
  grid-area: description;
  margin: 10px 5% 15px 5%;
  width: 90%;
}
