.main {
  padding-top: 10vh;
  background: repeating-linear-gradient(
      -45deg,
      grey,
      white 100px,
      grey 130px,
      white 180px,
      grey 300px,
      white 410px,
      grey 550px)
}

.content {
  min-height: 90vh;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  margin: 0 5% 10vh 5%;
  padding-top: 5vh;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Vollkorn SC', sans-serif;
}

.message {
  margin-left: calc(50% - 155px);
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 5px;
  font-size: 1.3rem;
  font-family: 'Bellefair', serif;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  width: 300px;
}

.message div:first-child {
  text-decoration: underline;
}

.message div:last-child {
  font-size: 1.2rem;
}

.itemDirections {
  margin: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.itemDirections a {
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-size: 1.1rem;
  background-color: rgba(255,255,255,0.7);
}

.itemDirections input {
  border-radius: 20px;
  padding: 5px;
  color: white;
  font-size: 1.3rem;
  background-color: green;
}

.itemHeader {
  display: none;
}

.itemList {
  margin: 0 5% 25px 5%;
  padding-top: 25px;
}

.gridItem {
  margin-bottom: 10px;
  border: 1px solid black;
  /* padding: 20px 5%; */
  display: grid;
  grid-template-areas:
    "name name"
    "photo photo"
    "price count"
    "options options"
    "description description"
    "member member";
  grid-template-columns: 50% 50%;
  font-size: 1.2rem;
  font-family: 'Bellefair', serif;
  background-color: white;
}

.gridName {
  padding: 10px 5%;
  grid-area: name;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  background-color: rgb(139,0,0);
}

.gridPhoto {
  grid-area: photo;
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.gridNoPhoto {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}

.gridNoPhoto div {
  background-color: rgba(255,255,255,0.7);
  transform: rotate(20deg);
}

.gridPrice {
  grid-area: price;
  margin: 5px 0 0 5%;
  text-align: center;
  width: 95%;
}
.gridCount {
  grid-area: count;
  margin: 5px 5% 0 0;
  text-align: center;
  width: 95%;
}

.gridCount input {
  width: 30%;
}

.gridOptions {
  padding: 20px 5%;
  grid-area: options;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.oneOption {
  width: 40%;
}

.oneOption input {
  width: 100%;
}

.oneOption select {
  width: 100%;
}

.gridDescription {
  grid-area: description;
  margin: 10px 5% 15px 5%;
  width: 90%;
}

.gridMember {
  grid-area: member;
  text-align: center;
}

/* FOR CART */

.emptyCart {
  margin-bottom: 10px;
}

.emptyCart button {
  color: white;
  background-color: rgb(139,0,0);
}

.cartList {
  margin: 0 3% 10px 3%;
  padding: 10px 2%;
  background-color: white;
}

.cartFilled {
  margin-bottom: 30px;
  font-family: 'Bellefair', serif;
}

.cardInput {
  margin-bottom: 10px;
  width: calc(100% - 10px);
}

.expireAndCvc {
  display: flex;
  justify-content: space-between;
}

.expireAndCvc input {
  min-width: 40px;
}

.payBttn {
  margin-top: 40px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 1.3rem;
  font-family: 'Geneva';
  background-color: rgb(139,0,0);
  cursor: pointer;
}

.payDisable {
  margin-top: 40px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  color: white;
  font-size: 1.3rem;
  font-family: 'Geneva';
  background-color: rgb(255, 214, 214);
}

.payRemove {
  display: none;
}

.cartItem {
  margin: 0 0 10px 0;
  border: 1px dashed black;
  padding: 3px 3px 10px 3px;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  /* grid-template-rows: repeat(2, auto) 40px; */
  grid-template-areas:
    "name name name"
    "cost quantity subtotal"
    "change change change";
  /* width: 96%; */
}

.cartItem .quantity {
  grid-area: quantity;
}

.cartItem .cost {
  grid-area: cost;
}

.cartItem .subtotal {
  grid-area: subtotal;
}

.cartItem .name {
  grid-area: name;
  color: white;
  text-align: center;
  background-color: green;
}

.cartItem .cost, .cartItem .quantity {
  text-align: center;
}

.cartItem .change {
  padding-top: 20px;
  padding-right: 5%;
  grid-area: change;
  text-align: right;
}

.cartItem .change a span {
  border-radius: 15px;
  padding: 7px;
  color: white;
  background-color: rgb(139,0,0);
}

.cartItem:last-of-type {
  margin-bottom: 0;
}

.creditCardForm {
  margin: 0 3% 10px 3%;
  padding: 10px 2%;
  color: white;
  background-color: green;
}
