.mainTitle {
  margin-left: 20%;
  font-size: 3.5rem;
  width: 60%;
}

.itemList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px 3%;
  /* NOTE: The gap's column-gap is 3% (instead of 4%) because the borders adds to the overall width */
}

.gridItem {
  width: 48%;
}
