.main {
  padding-top: 12vh;
}

.mainTitle {
  margin-left: 35%;
  margin-bottom: 8vh;
  padding-top: 8vh;
  font-size: 5.5rem;
  width: 60%;
}

.regIntro {
  padding: 4vh 0;
  background:
    url('/images/welcome/5INF_COA-min.png'),
    linear-gradient(
      rgba(255,255,255,0.5),
      rgba(255,255,255,0.5)),
    url('/images/registration/collage.png');
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: auto 100%, cover, auto;
  background-position: left, center, left;
}

.regBttn {
  margin: 6vh 0 0 48%;
  border-radius: 25px;
  padding: 15px 5%;
  font-size: 3rem;
  line-height: 4rem;
  width: 30%;
}

.regForm button {
  margin: 40px 0 0 37%;
  width: 25%;
}

.regFormFull {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
}

.regFormBasic input {
  margin-bottom: 20px;
}

.dateAndLocation {
  margin-left: 43%;
  font-size: 2.7rem;
  width: 57%;
}

.regRow {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 35vh 35vh;
}

.boxContent {
  margin: 0 15%;
  grid-template-columns: repeat(2,47%);
  column-gap: 6%;
  row-gap: 60px;
}

.paymentBox:last-child {
  border-bottom: none;
}

.policy {
  margin: 0 15%;
}

#hotelReservation {
  grid-column-start: 1;
  grid-column-end: 3;
}

.hotelMap {
  height: 38vh;
}

.shuttle {
  height: 55vh;
}

.reservationRow {
  grid-template-columns: 40% 40%;
  grid-row-gap: 50px;
  justify-content: space-between;
}
