.photoContent {
    padding-top: 12vh;
}

.mainContent {
    grid-template-columns: 20% 80%;
}

.allButtons {
    justify-content: end;
}

.addPhoto {
    margin-left: 20px;
}

.allPhotos {
    padding: 2vw;
    grid-template-columns: 24vw 24vw 24vw;
    gap: 2vw;
}

.onePhotoEl {
    padding: 1vw;
    height: 24vw;
    width: 22vw;
}