.photoContent {
    padding-top: 12vh;
}

.mainContent {
    grid-template-columns: 20% 80%
}

.allButtons {
    justify-content: end;
}

.addPhoto {
    margin-left: 20px;
}

.allPhotos {
    padding: 2vw;
    grid-template-columns: 24vw 24vw 24vw;
    gap: 2vw;
}

.onePhotoEl {
    padding: 10px;
    height: 24vw;
    width: 22vw;
}

.menuColumn {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.returnArrow {
    margin-bottom: 30px;
}

.allButtons {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.viewPhotoEl {
    margin: 0 1% 0 1%;
    display: grid;
    grid-template-columns: 68% 28%;
    gap: 2%;
    align-items: unset;
}

.viewPhotoEl img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}