.photoContent {
    padding-top: 10vh;
    background: repeating-linear-gradient(
        -45deg,
        grey,
        white 100px,
        grey 130px,
        white 180px,
        grey 300px,
        white 410px,
        grey 550px);
    min-height: 90vh;
}

.albumListBkgrd {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100vw;
}

.albumListEl {
    /* margin: 0 10vw; */
    padding: 10px;
    font-family: 'Vollkorn SC', serif;
    color: white;
    background-color:rgb(139,0,0);
    height: 65vh;
    width: 80vw;
    max-width: 500px;
}

.albumList {
    background-color: black;
    height: calc(65vh - 40px);
    overflow-y: scroll;
}

.albumList div {
    padding: 5px 10px;
    font-size: 1.3rem;
}

.categoryTitles {
    font-style: italic;
    text-align: center;
    background-color: rgba(0, 100, 0);
}

.albumList a {
    color: white;
}

.albumList a div {
    overflow-x: hidden;
    text-wrap: nowrap;
}

.photoMainTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    /* padding: 20px; */
    background: linear-gradient(
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.7)),
      url('/images/registration/collage.png');
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%, 360px 360px;
    height: 16vh;
}

.photoMainTitle div {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Vollkorn SC', sans-serif;
}

.mainContent {
    display: grid;
    min-height: 74vh;
}

.menuColumn {
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
    color: white;
    font-size: 1.1rem;
    font-family: 'Special Elite', cursive;
    background-color: rgba(139,0,0,0.8);
    height: 3vh;
}

.filterBttn {
    cursor: pointer;
}

.exitBttn {
    margin-bottom: 10px;
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;
    height: 30px;
}

.exitBttn span {
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.deleteAlbumBttn {
    display: flex;
    justify-content: flex-end;
}

.basicInfoGrid > .deleteAlbumBttn > span {
    color: red;
}

.deleteAlbumEl {
    display: none;
    border: 1px solid red;
    padding: 5px;
}

.deleteAlbumEl div {
    margin-bottom: 30px;
}

.deleteAlbumEl a {
    color: red;
}

.deleteAlbumEl a span {
    border-radius: 15px;
    padding: 5px;
    color: white;
    background-color: red;
}

.menuColumn a {
    color: white;
}

.photosAndButtons {
    background-color: rgba(145,74,14,0.7);
    min-height: 69vh;
}

.albumTitle {
    padding: 20px 5vw;
    font-family: 'Vollkorn SC', serif;
    font-size: 1.5rem;
    color: white;
}

.albumTitle span {
    border-bottom: 2px solid white;
    font-size: 0.9rem;
}

.allButtons {
    padding: 0 5vw;
    display: grid;
    grid-template-columns: 50% 50%;
}

.addPhoto {
    margin-top: 20px;
    font-family: 'Special Elite', cursive;
}

.addPhoto a span {
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    /* float: right; */
    background-color: rgb(139,0,0);
    cursor: pointer;
}

.allPhotos {
    padding: 5vw;
    /* background-color: rgba(145,74,14,0.7); */
    display: grid;
    gap: 2px;
}

.onePhotoEl {
    margin-bottom: 15px;
    /* border: 1px solid black; */
    background-color: white;
    padding: 3vw;
    height: 90vw;
    /* width: 82vw;
    height: 82vw;
    position: relative; */
}

.onePhotoEl a {
    color: black;
    cursor: pointer;
}

.photoImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    width: 100%;
    height: 80%;
}

.photoTitle {
    margin-top: 5px;
    font-size: 1rem;
    font-family: 'Bellefair', serif;
    text-align: center;
}

.photoBttnRow {
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

.editSymbolBttn {
    height: 20px;
    width: 30px;
}

.editPhoto {
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.viewPhotoEl {
    margin-top: 50px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: anchor-center;
    background-color: rgba(255, 255, 255, 0.6);
}

.viewPhotoEl div {
    font-size: 1rem;
}

.viewPhotoEl div.viewTitle {
    font-size: 1.2rem;
}

.viewImgEl {
    display: flex;
    justify-content: center;
    max-height: 400px;
}

.viewImgEl img {
    max-width: 96%;
}

.viewInfoEl {
    margin-top: 20px;
}

.viewInfoEl div {
    margin-bottom: 10px;
}

/* PAGINATION  */
.customPagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
  }
  
  .customPagination li {
    margin-right: 20px;
    font-size: 1.2rem;
    font-family: 'Special Elite', cursive;
  }
  
  .customPagination li a {
    text-decoration: underline;
    color: black;
  }