.mainContent {
    grid-template-columns: 20% 80%
}

.allButtons {
    justify-content: end;
}

.addPhoto {
    margin-left: 20px;
}

.allPhotos {
    grid-template-columns: 30vw 30vw;
    gap: 10vw;
}

.onePhotoEl {
    padding: 10px;
    height: 30vw;
    width: 24vw;
}

.menuColumn {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    min-height: calc(100% - 2vh);
}

.returnArrow {
    margin-bottom: 30px;
}

.allButtons {
    display: flex;
    justify-content: flex-end;
}