body {
    background: linear-gradient(to right,
        rgba(139,0,0,0.7),
        rgba(139,0,0,0.7) 50%,
        rgba(0,100,0,0.6) 50%,
        rgba(0,100,0,0.6) 100%);
    height: 1px;
}

.photoContent {
    margin-left: 50%;
    padding-top: 12vh;
    position: absolute;
    left: -960px;
    width: 1920px;
}

.mainContent {
    grid-template-columns: 384px 1536px
}

.allButtons {
    justify-content: end;
}

.addPhoto {
    margin-left: 20px;
}

.allPhotos {
    padding: 40px;
    grid-template-columns: 458px 458px 458px;
    gap: 40px;
}

.onePhotoEl {
    padding: 20px;
    height: 458px;
    width: 408px;
}