.main {
  padding-top: 10vh;
  background: repeating-linear-gradient(
      -45deg,
      grey,
      white 100px,
      grey 130px,
      white 180px,
      grey 300px,
      white 410px,
      grey 550px)
}

.content {
  min-height: 90vh;
}

.scholarshipTitle {
  text-align: center;
  font-family: 'Vollkorn SC', sans-serif;
  display: grid;
  grid-template-rows: 87% 13%;
  height: 90vh;
}

.genName {
  padding: 0 2%;
  font-size: 1.5rem;
  display: grid;
  grid-template-rows: 15% 60% 25%;
  color: black;
  background-size: cover;
  background-position: center;
  background-image: 
    linear-gradient(
      rgba(255,255,255,0.5),
      rgba(255,255,255,0.5) 15%,
      rgba(255,255,255,0.1) 20%,
      rgba(255,255,255,0.1) 70%,
      rgba(255,255,255,0.5) 75%,
      rgba(255,255,255,0.5) 90%,
      rgba(255,255,255,1)
    ),
    url('/images/scholarship/General-Andrew-Anderson-vietnam.jpg');
  justify-content: end;
}

.genName div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scholarImg {
  /* display: flex; */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "scholarship general" 
    "apply apply";
  align-items: center;
  background-color: white;
}

.aroundButtons {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  height: calc(100% - 10px);
}

.buttons {
  border: 1px solid white;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.scholarshipInfo {
  grid-area: scholarship;
  background-color: rgba(139,0,0);
}

.applyNow {
  grid-area: apply;
  font-size: 1.5rem;
  background-size: cover;
  background-position: center;
  background-image:
    linear-gradient(
      rgba(0,100,0,1),
      rgba(0,100,0,1)),
    url('/images/scholarship/signing-form.jpeg');
}

.generalInfo {
  grid-area: general;
  background-color: black;
}

.filler {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.scholarshipFiller {
  grid-area: scholarshipFiller;
  background-image: 
    linear-gradient(
      90deg, 
      rgba(139,0,0,1),
      rgba(139,0,0,0.3),
      rgba(139,0,0,0.3)),
    url('/images/scholarship/crop635w_GI-Bill.jpeg');
}

.generalFiller {
  grid-area: generalFiller;
  background-image: 
    linear-gradient(
      -90deg, 
      rgba(0,0,0,1),
      rgba(0,0,0,0.3),
      rgba(0,0,0,0.3)),
    url('/images/scholarship/general-andy-anderson-retired.jpeg');
}

.regIntro {
  /* padding-bottom: 30px; */
  height: calc(100% - 10vh);
}

.regRow {
  background:rgba(0,0,0,0.8);
}

.regSection {
  padding: 20px 5%;
  color: white;
  font-size: 1.2rem;
  font-family: 'Bellefair', serif;
}

.regSubtitle {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-family: 'Vollkorn SC', sans-serif;
  text-align: center;
}
