.footer {
  padding: 0 0 30px 10%;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1rem;
  background: linear-gradient(to bottom, rgba(139,0,0,1), rgba(139,0,0,1));
}

.footer div {
  margin-top: 10px;
  color: white;
  font-family: 'Prompt', sans-serif;
}

.pageLink {
  margin-left: 30px;
}
