.main {
  padding-top: 12vh;
}

.content {
  min-height: 88vh;
}

.initIntro {
  height: 88vh;
}

.mainTitle {
  font-size: 3.4rem;
  margin-bottom: 8vh;
  padding-left: 5%;
  text-align: left;
}

.initBttn {
  margin: 0 0 5vh 65%;
  border-right: 1px solid white;
  border-radius: 10px;
  font-size: 1.7rem;
  text-align: center;
  width: 20%;
}

.allSections {
  display: grid;
  grid-template-areas:
    "search about"
    "search contact";
  grid-template-columns: 50% 50%;
  grid-template-rows: 45vh auto;
}

.searchEl {
  height: inherit;
}

.searchTitle {
  margin-bottom: 15px;
  height: inherit;
}

.contactIntro {
  margin-left: calc(50% - 165px);
  width: 330px;
}

.contactList {
  /* margin-left: calc(50% - 384px); */
  max-width: 768px;
  flex-direction: row;
  justify-content: space-around;
}
