.mainTitle {
  font-size: 3.2rem;
  margin-bottom: 20vh;
}

.initBttn {
  margin: 0 0 5vh 50%;
  width: calc(40% - 1px);
}

.allSections {
  display: grid;
  grid-template-areas:
    "search about"
    "search contact";
  grid-template-columns: 50% 50%;
  grid-template-rows: 45vh auto;
}

.searchEl {
  max-height: 90vh;
  height: unset;
}

.searchTitle {
  margin-bottom: 15px;
  /* height: inherit; */
}

.contactIntro {
  margin-left: calc(50% - 165px);
  width: 330px;
}

.contactList {
  flex-direction: row;
  justify-content: space-around;
}
