.mainBody {
  padding-top: 10vh;
  background:
    repeating-linear-gradient(
      -45deg,
      grey,
      white 100px,
      grey 130px,
      white 180px,
      grey 300px,
      white 410px,
      grey 550px);
}

.mainTitle {
  padding: 60px 0;
  background:
    linear-gradient(0deg, rgba(0,100,0,1), rgba(0,100,0,1) 5%, rgba(0,100,0,1) 10%, rgba(255,255,255,0.5) 20%, rgba(255,255,255,0.5) 80%, darkred 90%, darkred 95%, darkred),
    linear-gradient(-90deg, transparent, transparent 5%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 50%, transparent 55%, transparent),
    url('/images/history/albums/ww2/Company_D.jpg');
  background-size: cover;
  background-position: center;
}

.mainTitle div:first-child {
  margin: 0 10% 0 50%;
  font-size: 3rem;
}

.mainTitle div:last-child {
  margin: 0 10% 0 50%;
  font-size: 4.7rem;
}

.allImgBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.oneImgBox {
  width: 27%;
}
