.leftSearchColumn {
  display: grid;
  grid-template-areas: "search results";
  grid-template-columns: 20vw 80vw;
}

.blueBand {
  background-position: top right 5%;
}

.casualtySearchForm {
  display: block;
}

.casualtySearchForm input, .casualtySearchForm select {
  margin-left: 5%;
  margin-bottom: 20px;
  width: calc(90% - 8px);
}

.casualtyTotal {
  width: 80vw;
}

.allOverallRows {
  margin: 1vw 1vw 1vw 2vw;
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-auto-rows: 25vw;
  grid-gap: 1vw;
}

.overallRow {
  margin: 0;
  height: 100%;
  width: 100%;
}

.rowDetails {
  /* padding: 1vw 5vw; */
}
