.leftSearchColumn {
  margin-left: calc(50% - 683px);
  margin-right: calc(50% - 683px);
  display: grid;
  grid-template-areas: "search results";
  grid-template-columns: 20% 80%;
  width: 1366px;
}

.blueBand {
  background-position: top right calc(50% - 550px);
  /* Got this by (1920px - 1366px) / 2 */
}

.casualtyTitle {
  padding: 0 0 10px calc(50% - 683px);
}

.casualtySubtitle {
  padding: 0 0 10px calc(50% - 683px);
}

.casualtySearchForm {
  display: block;
}

.casualtySearchForm input, .casualtySearchForm select {
  margin-left: 5%;
  margin-bottom: 20px;
  width: calc(90% - 8px);
}

.casualtyTotal {
  width: 100%;
}

.allOverallRows {
  margin: 10px;
  display: grid;
  grid-template-columns: 354px 355px 355px;
  grid-auto-rows: 355px;
  grid-gap: 10px;
}

.overallRow {
  margin: 0;
  height: 100%;
  width: 100%;
}

.rowDetails {
  /* padding: 1vw 5vw; */
}
