p {
  margin: 0;
}

.backBttn {
  margin: 10px 5%;
  display: flex;
  font-family: 'Special Elite', cursive;
  text-align: center;
}

.backBttn a {
  color: white;
}

.mainBody {
  padding-top: 10vh;
  background:
    repeating-linear-gradient(
      -45deg,
      white,
      grey 100px,
      white 130px,
      grey 180px,
      white 300px,
      grey 410px,
      white 550px);
  min-height: 90vh;
}

.whiteBand {
  margin: 20px 0 40px 0;
  background:
    linear-gradient(
      white,
      white 1%,
      rgba(104,154,205,1) 1%,
      rgba(104,154,205,1) 99%,
      white 99%,
      white 100%
    );
  /* background-color: white; */
  /* background:
    linear-gradient(
      rgba(0,0,0,0),
      rgba(0,0,0,0) 10px,
      rgba(0,0,0,0.5) 10px,
      rgba(0,0,0,0.5) 50%,
      rgba(0,0,0,0) 50%),
    linear-gradient(
      0deg,
      rgba(0,0,0,0),
      rgba(0,0,0,0) 10px,
      rgba(0,0,0,0.5) 10px,
      rgba(0,0,0,0.5) 50%,
      rgba(0,0,0,0) 50%),
    linear-gradient(
      rgba(255,255,255,1),
      rgba(255,255,255,1) 10px,
      purple 10px,
      purple 50%,
      rgba(0,0,0,0) 50%),
    linear-gradient(
      0deg,
      rgba(255,255,255,1),
      rgba(255,255,255,1) 10px,
      purple 10px,
      purple 50%,
      rgba(0,0,0,0) 50%); */
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.blueBand {
  margin-right: 5%;
  padding: 25px 0;
  /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/memorials/purple-heart2.png'),purple; */
  background: url('/images/recipients/cmoh-flag.png');
  background-position: right;
  background-size: 40%;
  background-repeat: no-repeat;
}

.casualtyTitle {
  padding: 0 0 10px 5%;
  color: white;
  font-size: 2.4rem;
  /* font-family: 'Vollkorn SC', sans-serif; */
  font-family: 'Special Elite', cursive;
}

.casualtySubtitle {
  padding: 0 12% 10px 5%;
  color: white;
  font-size: 1.3rem;
  font-family: 'Bellefair', serif;
  width: 56%;
}

.dailyAndSearchBox {
  padding-bottom: 75px;
}

.oneSection {

}

/* .todayWeRemember {
  margin-left: 5%;
  margin-bottom: 15px;
  color: white;
  font-size: 1.3rem;
} */

.dailyMemorial {
  margin: 0 0 40px 0;
  border: 1px solid white;
  border-radius: 7px;
  padding: 30px 0;
  /* grid-area: dailyMemorial; */
  color: white;
  background: linear-gradient(
      rgba(0, 100, 0, 0.8),
      rgba(0, 100, 0, 0.8) 85%,
      rgba(0, 100, 0, 0.8));
  /* background-size: cover;
  background-position: center;
  background: url('https://cdn.pixabay.com/photo/2017/06/13/13/51/marble-2398946_960_720.jpg'); */
  /* width: 90%; */
}

.dailyMemorial a {
  color: white;
  cursor: pointer;
}

.dailyMemorial a div {
  text-align: center;
}

.dailyInfo {
  margin-left: 10%;
  font-size: 1.5rem;
  width: 80%;
}

.rankWithMedal {
  display: grid;
  grid-template-columns: 85% auto;
  text-align: left;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.medal {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.dailyName {
  margin: 5px 0;
}

.dailyConflict {
  margin: 0 5%;
  border: 1px solid black;
  font-size: 1.2rem;
  text-align: center;
  background-color: black;
  width: 90%;
}

.dailyImg {
  margin-left: 5%;
  border: 1px solid black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  height: 30vh;
  width: 90%;
}

.dailyBio {
  margin-left: 5%;
  width: 90%;
}

.leftSearchColumn {
  margin-top: 40px;
  /* grid-area: leftSearchColumn; */
  background: linear-gradient(
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.7)),
    url('https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc5MDg3MjM0MDMyOTY5/flags-are-placed-at-arlington-national-cemetery-graves.jpg');
  background-size: cover;
  background-position: center;
  /* min-height: 500px; */
}

.rightSearchColumn {
  padding-top: 30px;
  color: white;
  /* grid-area: rightSearchColumn; */
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.casualtySearch {
  color: white;
  background-color: rgba(139,0,0,1);
}

.casualtySearchTitle {
  padding: 20px 0 10px 0;
  text-align: center;
}

.firstNameInput {
  grid-area: first;
}

.lastNameInput {
  grid-area: last;
}

.unitInput {
  grid-area: unit;
}

.conflictInput {
  grid-area: conflict;
}

.submitInput {
  border: 2px solid white;
  border-radius: 15px;
  grid-area: submit;
  color: white;
  text-align: center;
  background-color: rgba(139,0,0,1);
}

.casualtySearchForm {
  margin: 0 3%;
  padding: 10px 0 20px 0;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: auto;
  grid-column-gap: 4%;
  grid-row-gap: 5px;
  grid-template-areas:
    "first first last last"
    "unit unit conflict conflict"
    "submit submit . .";
}

.casualtyList {
  /* padding-bottom: 20px; */
  color: black;
}

.casualtyTotal {
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
  font-family: 'Special Elite', cursive;
}

.casualtyListTitle {
  padding: 10px 2%;
  font-family: 'Special Elite', cursive;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "nameAndUnit conflictName";
}

.casualtyListTitle div {
  padding: 0 2%;
  text-align: left;
}

.nameAndUnit {
  grid-area: nameAndUnit;
}

.justName {
  display: none;
  grid-area: justName;
}

.justUnit {
  display: none;
  grid-area: justUnit;
}

.conflictName {
  grid-area: conflictName;
}

.allCasualtyListRows {
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}

.casualtyListRow {
  padding: 2px 2%;
  color: white;
  font-family: 'Bellefair', serif;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "rowName rowConflict"
    "rowUnit rowConflict";
  /* background-color: black; */
}

.rowA {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.rowB {
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}

/* .casualtyListRow:first-of-type {
  margin-top: 0;
}

.casualtyListRow:last-of-type {
  margin-bottom: 0;
} */

.rowName {
  font-size: 1.1rem;
  grid-area: rowName;
}

.rowConflict {
  grid-area: rowConflict;
}

.rowUnit {
  grid-area: rowUnit;
}

/* .rowArrow {
  margin-top: 5px;
  grid-area: rowArrow;
  background:
    conic-gradient(
      from 0deg at 70% 50%,
      transparent,transparent 225deg,rgba(0,0,0,1) 225deg,rgb(0,0,0,1) 315deg,transparent 315deg,transparent),
    conic-gradient(
      from 0deg at 100% 50%,
      transparent,transparent 225deg,white 225deg,white 315deg,transparent 315deg,transparent);
  height: 10px;
} */

.casualtyListRow div {
  padding: 5px 2%;
}

.casualtyIntro {
  margin: 0 5%;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: casualtyIntro; */
  font-size: 1.3rem;
  color: white;
  /* background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)); */
}

.casualtyIntro div {
  /* padding: 30px 10%; */
  /* width: 90%; */
}

.casualtyName {
  grid-area: casualtyName;
  margin-left: 10%;
  margin-bottom: 15px;
  font-size: 2rem;
  text-align: center;
  width: 80%;
}

.casualtyName div:last-of-type {
  padding-top: 10px;
}

.casualtyImg {
  grid-area: casualtyImg;
  margin-left: 5%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  width: 90%;
}

.casualtyBio {
  margin: 5%;
  padding-bottom: 30px;
  font-size: 1.3rem;
}

.casualtyBioSummary {
  padding: 15px 0;
  grid-area: casBio1;
}

.casualtyBioSummary div {
  padding: 10px 0;
}

.externalBox {
  margin-left: 5%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5%;
  background-color: black;
  width: 80%;
}

.externalTitle {
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}

.linkList {
  width: 90%;
}

.linkRow a {
  color: white;
}

.casualtyBioDetails {
  grid-area: casBio2;
}

.casualtyBioTitle {
  margin-bottom: 10px;
  text-decoration: none;
}

.casualtyBioContent {
  border: 1px dashed white;
  padding: 0 5%;
  font-size: 1.3rem;
  color: white;
  font-family: 'Times New Roman';
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  white-space: break-spaces;
}

/* PAGINATION  */
.customPagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.customPagination li {
  margin-right: 20px;
  font-size: 1.2rem;
  font-family: 'Special Elite', cursive;
}

.customPagination li a {
  text-decoration: underline;
  color: black;
}
