p {
  margin: 0;
}

.backBttn {
  margin: 10px 5%;
  display: flex;
  font-family: 'Special Elite', cursive;
  text-align: center;
}

.backBttn a {
  color: black;
}

.mainBody {
  padding-top: 10vh;
  background:
    repeating-linear-gradient(
      -45deg,
      white,
      grey 100px,
      white 130px,
      grey 180px,
      white 300px,
      grey 410px,
      white 550px);
  min-height: 90vh;
}

/* .whiteBand {
  margin: 20px 0 40px 0;
  background:
    linear-gradient(
      white,
      white 1%,
      rgba(104,154,205,1) 1%,
      rgba(104,154,205,1) 99%,
      white 99%,
      white 100%
    );
}

.blueBand {
  margin-right: 5%;
  padding: 25px 0;
  background: url('/images/recipients/cmoh-flag.png');
  background-position: right;
  background-size: 40%;
  background-repeat: no-repeat;
} */

.whiteBand {
  padding: 5px 0;
  background:
    linear-gradient(
      rgba(0,0,0,0),
      rgba(0,0,0,0) 5px,
      rgba(0,0,0,0.5) 5px,
      rgba(0,0,0,0.5) 50%,
      rgba(0,0,0,0) 50%),
    linear-gradient(
      0deg,
      rgba(0,0,0,0),
      rgba(0,0,0,0) 5px,
      rgba(0,0,0,0.5) 5px,
      rgba(0,0,0,0.5) 50%,
      rgba(0,0,0,0) 50%),
    linear-gradient(
      rgba(255,255,255,1),
      rgba(255,255,255,1) 5px,
      rgba(104,154,205,1) 5px,
      rgba(104,154,205,1) 50%,
      rgba(0,0,0,0) 50%),
    linear-gradient(
      0deg,
      rgba(255,255,255,1),
      rgba(255,255,255,1) 5px,
      rgba(104,154,205,1) 5px,
      rgba(104,154,205,1) 50%,
      rgba(0,0,0,0) 50%);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 194px;
}

.blueBand {
  padding: 25px 0;
  background: url('/images/recipients/cmoh-flag.png'),rgba(104,154,205,1);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 144px;
}

.casualtyTitle {
  padding: 0 0 10px 5%;
  color: gold;
  font-size: 2.4rem;
  font-family: 'Special Elite', cursive;
}

.casualtySubtitle {
  padding: 0 12% 10px 5%;
  color: gold;
  font-size: 1.3rem;
  font-family: 'Bellefair', serif;
  width: 56%;
}

.oneSection {

}

.leftSearchColumn {
  display: grid;
  grid-template-areas:
    "searchCol"
    "searchList";
  background-size: cover;
  background-position: center;
}

.sidePad {
  display: none;
  background-color: white;
}

.leftPad {
  grid-area: leftPad;
}

.rightPad {
  grid-area: rightPad;
}

.casualtySearch {
  color: white;
  background-color: rgba(139,0,0,1);
  grid-area: searchCol;
}

.casualtySearchTitle {
  padding: 20px 0 10px 0;
  text-align: center;
}

.firstNameInput {
  grid-area: first;
}

.lastNameInput {
  grid-area: last;
}

.conflictInput {
  grid-area: conflict;
}

.submitInput {
  border: 2px solid white;
  border-radius: 15px;
  grid-area: submit;
  color: white;
  text-align: center;
  background-color: rgba(139,0,0,1);
}

.casualtySearchForm {
  margin: 0 3%;
  padding: 10px 0 20px 0;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: auto;
  grid-column-gap: 4%;
  grid-row-gap: 5px;
  grid-template-areas:
    "first first last last"
    ". . conflict conflict"
    "submit submit . .";
}

.casualtyList {
  color: black;
  grid-area: searchList;
}

.casualtyTotal {
  margin: 0 0 20px 0;
  padding: 15px 0;
  color: white;
  text-align: center;
  font-family: 'Special Elite', cursive;
  background: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7))
}

.casualtyListTitle div {
  padding: 0 2%;
  text-align: left;
}

.allOverallRows {

}

.overallRow {
  margin: 30px 5%;
  color: white;
  font-size: 1.3rem;
  font-family: 'Bellefair', serif;
  width: 90vw;
  height: 90vw;
  position: relative;
}

.casualtyListRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale();
  width: 100%;
  height: 100%;
}

.rowTextOverlap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.casualtyListRow:first-of-type {
  margin-top: 0;
}

.rowName {
  padding: 4% 5%;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(104,154,205,0.8);
}

.rowDetails {
  padding: 4% 5%;
  color: white;
  text-align: center;
  background: linear-gradient(rgb(192,155,87,0.8),rgb(192,155,87,0.8))
}

.rowLink {
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
}

.rowLink a {
  color: white;
}

.linkList {

}

.linkRow a {
  color: white;
}

.recipientIntro {
  margin: 0 5%;
  padding-bottom: 40px;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: recipientIntro; */
  font-size: 1.3rem;
  color: white;
  /* background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)); */
}

.recipientNameAndImg {
  display: grid;
  grid-template-areas:
    "recName"
    "recImg"
    "basicInfo";
  /* background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)); */
}

.recipientName {
  /* margin-left: 10%; */
  /* margin-bottom: 15px; */
  padding: 5px 10%;
  font-size: 2rem;
  background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1));
  grid-area: recName;
  /* text-align: center; */
  width: 80%;
}

.recipientName div:first-of-type {
  font-size: 1.5rem;
  text-align: left;
}

.recipientName div:last-of-type {
  padding-top: 10px;
  text-align: center;
}

.rankWithMedal {
  display: grid;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.recipientImg {
  /* margin-left: 5%; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: recImg;
  height: 260px;
  /* width: 90%; */
}

.actionDate {
  /* margin-left: 5%; */
  /* margin-bottom: 20px; */
  padding: 10px 5%;
  grid-area: basicInfo;
  background-color: black;
  /* width: 80%; */
}

.recipientBio {
  margin: 10px 0;
  padding: 15px 5%;
  /* padding-bottom: 30px; */
  font-size: 1.3rem;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}

.recipientBioSummary {
  padding: 15px 5%;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  /* min-height: 60vh; */
}

.recipientBioSummary div {
  padding: 10px 0;
}

.externalBox {
  margin-top: 15px;
  margin-left: 5%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5%;
  background-color: black;
  width: 80%;
}

.externalTitle {
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}

.linkRow a {
  color: white;
}

.recipientBioDetails {
  grid-area: casBio2;
}

.recipientBioTitle {
  color: gold;
}

.recipientBioContent {
  /* border: 1px dashed white; */
  /* padding: 0 5%; */
  font-size: 1.3rem;
  color: white;
  font-family: 'Times New Roman';
  /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)); */
  white-space: break-spaces;
}

/* PAGINATION  */
.customPagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.customPagination li {
  margin-right: 20px;
  font-size: 1.2rem;
  font-family: 'Special Elite', cursive;
}

.customPagination li a {
  text-decoration: underline;
  color: black;
}
