body {
  background: linear-gradient(to right,
    rgba(139,0,0,0.7),
    rgba(139,0,0,0.7) 50%,
    rgba(0,100,0,0.6) 50%,
    rgba(0,100,0,0.6) 100%);
  /* background: conic-gradient(
    rgba(0,0,0,0.1) 0deg,
    rgba(0,0,0,0.1) 90deg,
    rgba(0,0,0,0) 90deg,
    rgba(0,0,0,0) 180deg,
    rgba(0,0,0,0.1) 180deg,
    rgba(0,0,0,0.1) 270deg,
    rgba(0,0,0,0) 270deg,
    rgba(0,0,0,0) 360deg
    );
  background-repeat: repeat;
  background-size: 50px 50px; */
  height: 1px;
}

p {
  margin: 0;
}

.mainAndFooter {
  margin-left: 50%;
  position: absolute;
  left: -960px;
  width: 1920px;
}

.leftSearchColumn {
  margin-left: calc(50% - 683px);
  margin-right: calc(50% - 683px);
  display: grid;
  grid-template-areas: "search results";
  grid-template-columns: 20% 80%;
  width: 1366px;
}

.blueBand {
  background-position: top right calc(50% - 550px);
}

.casualtyTitle {
  padding: 0 0 10px calc(50% - 683px);
}

.casualtySubtitle {
  padding: 0 0 10px calc(50% - 683px);
}

.casualtySearchForm {
  display: block;
}

.casualtySearchForm input, .casualtySearchForm select {
  margin-left: 5%;
  margin-bottom: 20px;
  width: calc(90% - 8px);
}

.casualtyTotal {
  width: 100%;
}

.allOverallRows {
  margin: 10px;
  display: grid;
  grid-template-columns: 354px 355px 355px;
  grid-auto-rows: 355px;
  grid-gap: 10px;
}

.overallRow {
  margin: 0;
  height: 100%;
  width: 100%;
}

.rowDetails {
  /* padding: 1vw 5vw; */
}
