.leftSearchColumn {
  display: grid;
  grid-template-areas: "search results";
  grid-template-columns: 20vw 80vw;
}

/* .blueBand {
  background-position: top right 5%;
} */

.titleBand {
  /* the Arlington image size is: 1418 tall x 3492 wide; ration: 1418/3492 = 142/y; y ~ 350  */
  background:
    linear-gradient(
      90deg,
      rgba(105,105,105,1),
      rgba(105,105,105,1) calc(100vw - 850px),
      rgba(105,105,105,0.1)
    ),
    url('/images/deceased/arlington2-min.jpg'),
    linear-gradient(
      rgba(0,0,0,1),rgba(0,0,0,1)
    );
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.casualtySearchForm {
  display: block;
}

.casualtySearchForm input, .casualtySearchForm select {
  margin-left: 5%;
  margin-bottom: 20px;
  width: calc(90% - 8px);
}

.casualtyTotal {
  width: 80vw;
}

.allOverallRows {
  margin: 1vw 1vw 1vw 2vw;
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-auto-rows: 25vw;
  grid-gap: 1vw;
}

.overallRow {
  margin: 0;
  height: 100%;
  width: 100%;
}

.rowDetails {
  /* padding: 1vw 5vw; */
}

.mainBody {
  padding-top: 12vh;
  min-height: 88vh;
}

.whiteBand {
  height: 132px;
}

.leftSearchColumn {
  border-bottom: 1px solid black;
  min-height: calc(88vh - 142px);
  grid-template-areas: "searchCol searchList";
}

.splitLetters {
  display: none;
}

.recipientNameAndImg {
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-column-gap: 10px;
  grid-template-areas:
    "recName basicInfo"
    "recImg basicInfo";
}

.linkList {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
}
