.leftSearchColumn {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-areas: "searchCol searchList";
  border-bottom: 1px solid black;
  min-height: calc(88vh - 142px);
}

.selectedMain {
  grid-template-columns: 100vw;
  grid-template-areas: "selected";
}

.blueBand {
  background-position: top right 5%;
}

.casualtySearchForm {
  display: block;
}

.casualtySearchForm input, .casualtySearchForm select {
  margin-left: 5%;
  margin-bottom: 20px;
  width: calc(90% - 8px);
}

.casualtyTotal {
  width: 80vw;
}

.allOverallRows {
  margin: 2vw;
  display: grid;
  grid-template-columns: 37vw 37vw;
  grid-auto-rows: 37vw;
  grid-gap: 2vw;
}

.overallRow {
  margin: 0;
  height: 100%;
  width: 100%;
}

.rowDetails {
  /* padding: 1vw 5vw; */
}

.mainBody {
  padding-top: 12vh;
  min-height: 88vh;
}

.whiteBand {
  height: 132px;
}

.splitLetters {
  display: none;
}

.recipientNameAndImg {
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-column-gap: 10px;
  grid-template-areas:
    "recName basicInfo"
    "recImg basicInfo";
}

.linkList {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
}
