body {
  background: linear-gradient(to right,
    rgba(139,0,0,0.7),
    rgba(139,0,0,0.7) 50%,
    rgba(0,100,0,0.6) 50%,
    rgba(0,100,0,0.6) 100%);
  /* background: conic-gradient(
    rgba(0,0,0,0.1) 0deg,
    rgba(0,0,0,0.1) 90deg,
    rgba(0,0,0,0) 90deg,
    rgba(0,0,0,0) 180deg,
    rgba(0,0,0,0.1) 180deg,
    rgba(0,0,0,0.1) 270deg,
    rgba(0,0,0,0) 270deg,
    rgba(0,0,0,0) 360deg
    );
  background-repeat: repeat;
  background-size: 50px 50px; */
  height: 1px;
}

p {
  margin: 0;
}

.mainAndFooter {
  margin-left: 50%;
  position: absolute;
  left: -960px;
  width: 1920px;
}

.leftSearchColumn {
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid black;
  min-height: calc(88vh - 142px);
  grid-template-areas: "leftPad searchCol searchList rightPad";
  grid-template-columns: calc(50% - 683px) 273px 1093px calc(50% - 683px);
  width: 100%;
}

.selectedMain {
  grid-template-areas: "leftPad selected rightPad";
  grid-template-columns: calc(50% - 683px) 1366px calc(50% - 683px);
}

.titleWrap {
  background-color: rgba(255,255,255,0.7);
}

.titleBand {
  /* the Arlington image size is: 1418 tall x 3492 wide; ration: 1418/3492 = 142/y; y ~ 350  */
  margin-left:calc(50% - 683px);
  background:
    linear-gradient(
      90deg,
      rgba(105,105,105,0.9),
      rgba(105,105,105,0.9) calc(100% - 850px),
      rgba(105,105,105,0.1)
    ),
    url('/images/deceased/arlington2-min.jpg'),
    linear-gradient(
      rgba(0,0,0,1),rgba(0,0,0,1)
    );
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1366px;
}

.blueBand {
  background-position: top right calc(50% - 550px);
}

.casualtyTitle {
  padding: 0 0 10px calc(50% - 615px);
}

.casualtySubtitle {
  padding: 0 0 10px calc(50% - 615px);
}

.casualtySearchForm {
  display: block;
}

.casualtySearchForm input, .casualtySearchForm select {
  margin-left: 5%;
  margin-bottom: 20px;
  width: calc(90% - 8px);
}

.casualtyTotal {
  width: 100%;
}

.allOverallRows {
  margin: 10px;
  display: grid;
  grid-template-columns: 354px 355px 355px;
  grid-auto-rows: 355px;
  grid-gap: 10px;
}

.overallRow {
  margin: 0;
  height: 100%;
  width: 100%;
}

.rowDetails {
  /* padding: 1vw 5vw; */
}

.dailyAndSearchBox {
  margin-left: calc(50% - 683px);
  margin-right: calc(50% - 683px);
  width: 1366px;
}

.mainBody {
  padding-top: 12vh;
  min-height: 88vh;
}

.whiteBand {
  height: 132px;
}

/* .leftSearchColumn {
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid black;
  min-height: calc(88vh - 142px);
  grid-template-areas: "leftPad searchCol searchList rightPad";
  grid-template-columns: calc(50% - 683px) 273px 1093px calc(50% - 683px);
  width: 100%;
} */

.sidePad {
  display: block;
  background-color: rgba(255,255,255,0.7);
}

.leftPad {
  grid-area: leftPad;
}

.rightPad {
  grid-area: rightPad;
}

.splitLetters {
  display: none;
}

.recipientNameAndImg {
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-column-gap: 10px;
  grid-template-areas:
    "recName basicInfo"
    "recImg basicInfo";
}

.linkList {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
}
