.bobcatList {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 2%;
}

.bobcatSearchBox {
  
}

.memberStats {
  margin-top: 50px;
  border-radius: 5px;
  padding: 10px 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
}

.oneStat {
  border-radius: 5px;
  padding: 5px 5%;
  /* color: darkgrey; */
  background-color: white;
  width: 48%;
}

.searchRow {
  width: 50%;
}
