.homeContent {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
  grid-row-gap: 20px;
}

.homeContent a {
  color: white;
}

.contentButton {
  border-radius: 15px;
  padding: 10px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 60px;
}

.homeButton {
  color: white;
  background-color: rgb(139,0,0);
}

.returnButton {
  color: white;
  background-color: rgb(0,100,0);
}

.logoutButton {
  color: black;
  background-color: lightgray;
}

.memberStats {
  margin: 50px 0;
  border-radius: 5px;
  padding: 10px 3%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: grey;
}

.oneStat {
  border-radius: 5px;
  padding: 5px 5%;
  background-color: white;
  width: 100%;
}

/* START BOBCAT LIST */

.bobcatSearchBox {
  margin-bottom: 50px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 48% 48%;
  grid-template-areas: 
    "description description"
    "input input"
    "submit reset";
  gap: 4%;
}

.bobcatSearchBox div {
  grid-area: description;
  text-align: center;
}

.bobcatSearchBox input {
  grid-area: input;

}

.bobcatSearchBox a {
  grid-area: reset;
  display: flex;
  justify-content: center;
}

.bobcatSearchBox a span {
  color: black;
  text-decoration: underline;
}

.bobcatSearchBox button {
  grid-area: submit;
}

.adminSearchBox {
  padding: 15px 3%;
  color: white;
  background-color: grey;
}

.adminSearchBox a span {
  color: white;
}

.listRow {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
  color: white;
  background-color: rgb(139,0,0);
}

.rowLink:hover {
  color: white;
}

.rowName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rowImg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px
}

.rosterBttns {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.rosterBttns div {
  border: 1px dashed black;
  padding: 5px;
}

/* END BOBCAT LIST */

.primaryImg {
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  width:100%;
  height:300px;
}

.secondaryImg {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  top:0;
  left:0;
  background-size:cover;
  background-position:center;
  cursor:pointer;
  height:75px;
  width:75px;
}

.changeImg {
  height:100px;
  width:100%;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
}

/* START View */

.memberTitle {
  font-size: 1.4rem;
}

.memberInfoTitle {
  margin: 20px 0 10px 5%;
  font-size: 1.1rem;
  text-decoration: underline;
}

.memberInfoContent {
  margin-left: 5%;
}

.memberInfoContact {
  display: grid;
  border-top: 1px solid black;
  border-left: 1px solid black;
  grid-template-columns: 40% 60%;
}

.memberInfoContact div {
  padding: 3px 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.bobcatTimespan {
  border: 1px solid grey;
}

.bobcatTimespanRow {
  padding: 5px;
  display: grid;
  grid-template-areas:
    "job started"
    ". dash"
    "unit ended";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}

.bobcatJob {
  grid-area: job;
}

.bobcatUnit {
  grid-area: unit;
}

.bobcatStart {
  text-align: center;
  grid-area: started;
}

.bobcatDash {
  background-image: url('/images/green-arrow-down2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  grid-area: dash;
}

.bobcatEnd {
  text-align: center;
  grid-area: ended;
}

.linkBox {
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 78% 20%;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
}

.addLink {
  border-radius: 15px;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: green;
  cursor: pointer;
}

.deleteEl {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.deleteEl a {
  padding: 5px;
  color: white;
  text-align: center;
  background-color: red;
}

/* END View */

/* START Bobcat Staff */

.staffEl {
  margin-top: 30px;
}

.staffTitle span {
  font-size: 1.1rem;
  color: rgb(139,0,0);
}

.staffMember {
  margin-top: 10px;
  background-color: rgba(0,100,0,0.1);
  padding: 10px;
  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 100px;
}

.staffMember div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.staffMember div:last-child {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* END Contact List */

/* START Edit page */

.basicInfoSubtitle {
  margin: 50px 0 20px 0;
  text-align: center;
  color: white;
  background-color: grey;
}

.basicInfoGrid {
  margin-bottom: 10px;
  display:grid;
  grid-template-columns: 40% 60%;
}

.basicSubinfoGrid {
  margin-bottom: 10px;
  margin-left: 10%;
  width: 90%;
}

.basicStatusGrid {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 10px;
}

.basicDateInfo {
  display: grid;
  grid-template-columns: 33% 32% 33%;
}

.setDateInput {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-column-gap: 10%;
  grid-row-gap: 5px;
}

.setDateInput div {
  text-align: right;
}

.statusButton {
  display: flex;
  justify-content: center;
}

.editBttnRow {
  margin: 50px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.basicInfoGrid span {
  color: #3490dc;
}

.timespanBox {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.timespanBox div {
  padding: 5px 10px;
}

.addMemberTimespan {
  margin: 10px 0 40px 0;
  display: flex;
  justify-content: flex-end;
}

.addMemberTimespan a span{
  border-radius: 10px;
  padding: 5px;
  color: white;
  background-color: green;
}

.basicInfoDate {
  display: grid;
  grid-template-columns: 50px 50px 60px;
  grid-column-gap: 5px;
}

.basicInfoClearDate {
  display: grid;
  grid-template-columns: 110px 60px;
}

.externalLinkGrid {
  margin-bottom: 20px;
  border: 1px dashed black;
  padding: 5px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "link link"
    "edit delete"
}

.linkEl {
  grid-area: link;
}

.editEl {
  grid-area: edit;
  text-align: center;
}

.deleteEl {
  grid-area: delete;
  text-align: center;
}

.documentation {
  margin-bottom:10px;
  border: 1px dashed black;
  padding: 5px;
}

.imgGrid {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 25px 175px 50px 50px;
  column-gap: 2%;
}

.imgGrid .img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.deleteImg {
  margin-bottom:20px;
  background-color:black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color:white;
  height:100px;
}

.historyBox textarea {
  height: 150px;
}

.bulletinLink a {
  color: white;
}

.bulletinLink a span {
  border-radius:5px;
  padding:5px;
  background-color:rgb(0,100,0);
  color:white;
}

/* END Edit page */

/* START Message page */

.messageCard {
  border: none;
}

.messageText {
  height:100px;
  width:100%
}

.noMessages {
  margin: 20px 0;
  text-align: center;
}

.allMessages {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 2%;
  color: white;
  width: 70%;
}

.selfMessage {
  margin-left: 30%;
  background-color: green;
}

.otherMessage {
  background-color: red;
}

/* END Message page */

/* START Administration page */

.adminCard {
  margin-bottom: 10px;
}

.addMemberSection {
  padding: 1.25rem;
}

.addMemberBttn {
  display: flex;
  justify-content: flex-end;
}

.addMemberBttn div {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  background-color: #38c172;
  height: 40px;
  width: 40px;
}

.addMemberInfo {
  display: none;
  border: 1px solid #38c172;
  border-radius: 5px 0 5px 5px;
  padding: 0.5rem;
  background-color: rgba(56, 193, 114, 0.1);
}

.addMemberInfo div {
  text-align: center;
}

.addMemberInfo input {
  margin-top: 20px;
  width: 100%;
}

.addSubmitBttn {
  color: white;
  text-align: center;
  background-color: #38c172;
}

.addMemberInfo textarea {
  margin: 20px 0;
  width: 100%;
}

.oneMemberCard {
  margin-bottom: 10px;
}

.oneMemberButton {
  width: 100%;
}

.oneMemberInfo {
  border: 1px solid #3490dc;
  padding: 5px 2%;
  display: none;
  overflow-y: scroll;
  height: 300px;
}

.oneInfo {
  margin-bottom: 15px;
}

.oneInfo div {
  padding: 5px 3%;
}

.oneInfo form input {
  margin-bottom: 20px;
  width: 100%;
}

.oneInfo form textarea {
  margin-bottom: 20px;
  width: 100%;
}

.infoTitle {
  margin-bottom: 5px;
  text-align: center;
  background-color: lightgrey;
}

.oneTimeSpan {
  display: flex;
  justify-content: flex-start;
}

.oneTimeSpan button {
  margin-right: 10px;
}

.jobAndUnit {
  overflow-x: scroll;
  text-align: right;
}

.addTimeSpanBttn {
  color: #3490dc;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

.addTimeSpanBox {
  padding: 5px 1%;
  display: none;
  background-color: rgba(52,144,220,0.2);
}

.addTimeGrid {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 30px 30px 30px;
  gap: 5px 2%;
  text-align: center;
}

.addTimeGrid input {
  margin-bottom: 0px !important;
}

.detailGrid {
  display: grid;
  grid-template-columns: 75% 20%;
  grid-column-gap: 5%;
}

.detailMOH {
  width: 100%;
}

.detailNote {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.centerAddBttn {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.deleteMemberWarning {
  margin-left: 15%;
  padding: 5px 0;
  text-align: center;
  background-color: orange;
  width: 70%;
}

.deleteMemberBox {
  margin-left: 15%;
  border: 1px solid orange;
  padding: 5px 2%;
  display: none;
  width: 70%;
}

.deleteMemberBox div {
  margin-top: 10px
}

.showNextBttns {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.oneRecipient {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 75% 20%;
  grid-column-gap: 5%;
}
.dateDeathTitle {
  margin-top: 20px;
}
.dateDeath {
  display: flex;
  justify-content: space-between;
}

.dateDeath input {
  margin-top: 0;
  text-align: center;
  width: 30%;
}

.gotBttn {
  color: #3490dc;
  cursor: pointer;
}

.gotBox {
  display: none;
}

.addLinkRow {
  display: flex;
  justify-content: space-between;
}

.addLinkBttn {
  display: flex;
  justify-content: center;
  color: white;
  background-color: green;
  width: 40px;
  height: 40px;
}

.conflictParent {
  margin-top: 15px;
}

.oneTimespanBox {
  margin-top: 25px;
  border: 2px solid gray;
  display: grid;
  grid-template-areas:
  "job job delete"
  "unit unit delete"
  "startMonth startYear delete"
  "endMonth endYear delete";
  grid-template-columns: 46% 46% 6%;
  grid-column-gap: 1%;
  grid-row-gap: 5px;
  background-color: gray;
}

.oneTimespanBox:first-of-type {
  margin-top: 0;
}

.oneTimeSpanBox div input {
  width: 100%;
}

.gridJob {
  grid-area: job;
}

.gridUnit {
  grid-area: unit;
}

.gridStartMonth {
  grid-area: startMonth;
}

.gridStartYear {
  grid-area: startYear;
}

.gridEndMonth {
  grid-area: endMonth;
}

.gridEndYear {
  grid-area: endYear;
}

.gridDelete {
  grid-area: delete;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gridDelete span {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  text-align: center;
  background-color: red;
}

.addEntryRow {
  margin: 5px 0 20px 0;
  display: flex;
  justify-content: flex-end;
}

.addEntryRow span {
  border-radius: 10px;
  padding: 5px;
  color: white;
  text-align: center;
  background-color: green;
}

.searchRow {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.searchRow span {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  color: black;
}

.searchRow .searchSelect {
  border: none;
  color: white;
  background-color: rgb(139,0,0);
}

.paymentRow {
  display: grid;
  grid-template-columns: 50% 49%;
  grid-column-gap: 1%;
  grid-row-gap: 5px;
  grid-template-areas:
    "name amount"
    "email date";
}

.paymentName {
  grid-area: name;
}

.paymentAmount {
  grid-area: amount;
}

.paymentEmail {
  grid-area: email;
}

.paymentDate {
  grid-area: date;
}

/* END Administration page */
