
.customCard {
  margin-bottom: 30px;
}

.customHeader {
  color: white;
  background-color: rgba(255,0,0,0.8);
}

.customText {
  margin-bottom: 20px;
}

.userTitle {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-decoration: underline;
}

.primaryImg {
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  width:100%;
  height:300px;
}

.secondaryImg {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  top:0;
  left:0;
  background-size:cover;
  background-position:center;
  cursor:pointer;
  height:75px;
  width:75px;
}

.changeImg {
  height:100px;
  width:100%;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
}

.troublesBox {
  display: none;
}

.searchBttnRow {
  display: flex;
  justify-content: space-between;
}

.searchBttnRow div {
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 1%;
  color: black;
  text-align: center;
  width: 30%;
}

.searchBttnRow div:last-child {
  color: white;
  background-color: black;
}

.categoryBox {
  display: none;
}

.allSearchResults {
  margin: 0 2% 20px 2%;
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 0 2%;
  overflow-y: scroll;
}

.oneSearchResult {
  margin-top: 10px;
  border-radius: 15px;
  padding: 10px 2%;
  display: grid;
  grid-template-columns: 70% 13% 13%;
  column-gap: 2%;
  background-color: rgba(0,100,0,0.5);
}

.oneSearchResult:last-child {
  margin-bottom: 10px;
}

.oneResultName {
  overflow-x: scroll;
}

.searchResultBttn {
  background-size: contain;
  background-position:center;
  background-repeat:no-repeat;
  height:5vh;
}

/* START View */

.memberTitle {
  font-size: 1.4rem;
}

.memberInfoTitle {
  margin: 20px 0 10px 5%;
  font-size: 1.1rem;
  text-decoration: underline;
}

.memberInfoContent {
  margin-left: 5%;
}

/* END View */

/* START Edit page */

.basicInfoSubtitle {
  margin: 50px 0 20px 0;
  text-align: center;
  color: white;
  background-color: grey;
}

.basicInfoGrid {
  margin-bottom: 10px;
  display:grid;
  grid-template-columns: 40% 60%;
}

.basicStatusGrid {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 10px;
}

.setDateInput {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-column-gap: 10%;
  grid-row-gap: 5px;
}

.setDateInput div {
  text-align: right;
}

.statusButton {
  display: flex;
  justify-content: center;
}

.editBttnRow {
  margin: 50px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.basicInfoGrid span {
  color: #3490dc;
}

.basicInfoDate {
  display: grid;
  grid-template-columns: 50px 50px 60px;
  grid-column-gap: 5px;
}

.basicInfoClearDate {
  display: grid;
  grid-template-columns: 110px 60px;
}

.externalLinkGrid {
  margin-bottom: 20px;
  border: 1px dashed black;
  padding: 5px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "link link"
    "edit delete"
}

.linkEl {
  grid-area: link;
}

.editEl {
  grid-area: edit;
  text-align: center;
}

.deleteEl {
  grid-area: delete;
  text-align: center;
}

.documentation {
  margin-bottom:10px;
  border: 1px dashed black;
  padding: 5px;
}

.imgGrid {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 58% 20% 18%;
  column-gap: 2%;
}

.imgGrid div {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20vh;
  max-height: 200px;
}

.deleteImg {
  margin-bottom:20px;
  background-color:black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color:white;
  height:100px;
}

.historyBox textarea {
  height: 150px;
}

/* END Edit page */

/* START Message page */

.messageCard {
  border: none;
}

.messageText {
  height:100px;
  width:100%
}

.noMessages {
  margin: 20px 0;
  text-align: center;
}

.allMessages {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 2%;
  color: white;
  width: 70%;
}

.selfMessage {
  margin-left: 30%;
  background-color: green;
}

.otherMessage {
  background-color: red;
}

/* END Message page */

/* START Administration page */

.adminCard {
  margin-bottom: 10px;
}

.addMemberSection {
  padding: 1.25rem;
}

.addMemberBttn {
  display: flex;
  justify-content: flex-end;
}

.addMemberBttn div {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  background-color: #38c172;
  height: 40px;
  width: 40px;
}

.addMemberInfo {
  display: none;
  border: 1px solid #38c172;
  border-radius: 5px 0 5px 5px;
  padding: 0.5rem;
  background-color: rgba(56, 193, 114, 0.1);
}

.addMemberInfo div {
  text-align: center;
}

.addMemberInfo input {
  margin-top: 20px;
  width: 100%;
}

.addSubmitBttn {
  color: white;
  text-align: center;
  background-color: #38c172;
}

.addMemberInfo textarea {
  margin: 20px 0;
  width: 100%;
}

.allMembersCard {
  /* height: 300px;
  overflow-y: scroll; */
}

.oneMemberCard {
  margin-bottom: 10px;
}

.oneMemberButton {
  width: 100%;
}

.oneMemberInfo {
  border: 1px solid #3490dc;
  padding: 5px 2%;
  display: none;
  overflow-y: scroll;
  height: 300px;
}

.oneInfo {
  margin-bottom: 15px;
}

.oneInfo div {
  padding: 5px 3%;
}

.oneInfo form input {
  margin-bottom: 20px;
  width: 100%;
}

.oneInfo form textarea {
  margin-bottom: 20px;
  width: 100%;
}

.infoTitle {
  margin-bottom: 5px;
  text-align: center;
  background-color: lightgrey;
}

.oneTimeSpan {
  display: flex;
  justify-content: flex-start;
}

.oneTimeSpan button {
  margin-right: 10px;
}

.jobAndUnit {
  overflow-x: scroll;
  text-align: right;
}

.addTimeSpanBttn {
  color: #3490dc;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

.addTimeSpanBox {
  padding: 5px 1%;
  display: none;
  background-color: rgba(52,144,220,0.2);
}

.addTimeGrid {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 30px 30px 30px;
  gap: 5px 2%;
  text-align: center;
}

.addTimeGrid input {
  margin-bottom: 0px !important;
}

.detailGrid {
  display: grid;
  grid-template-columns: 75% 20%;
  grid-column-gap: 5%;
}

.detailMOH {
  width: 100%;
}

.detailNote {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.centerAddBttn {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.deleteMemberWarning {
  margin-left: 15%;
  padding: 5px 0;
  text-align: center;
  background-color: orange;
  width: 70%;
}

.deleteMemberBox {
  margin-left: 15%;
  border: 1px solid orange;
  padding: 5px 2%;
  display: none;
  width: 70%;
}

.deleteMemberBox div {
  margin-top: 10px
}

.showNextBttns {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.allRecipientCard {
  /* height: 300px;
  overflow-y: scroll; */
}

.oneRecipient {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 75% 20%;
  grid-column-gap: 5%;
}
.dateDeathTitle {
  margin-top: 20px;
}
.dateDeath {
  display: flex;
  justify-content: space-between;
}

.dateDeath input {
  margin-top: 0;
  text-align: center;
  width: 30%;
}

.gotBttn {
  color: #3490dc;
  cursor: pointer;
}

.gotBox {
  display: none;
}

.addLinkRow {
  display: flex;
  justify-content: space-between;
}

.addLinkBttn {
  display: flex;
  justify-content: center;
  color: white;
  background-color: green;
  width: 40px;
  height: 40px;
}

.conflictParent {
  margin-top: 15px;
}

/* END Administration page */
