.main {
  padding-top: 12vh;
}

.mainTitle {
  margin: 0;
  font-size: 3.5rem;
}

.donateIntro {
  background-size: 100% 100%, 414px 414px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.donateBttn {
  margin: 0 0 0 0;
  padding: 25px;
  font-size: 2rem;
  width: 100%;
}

.donateList {
  display: grid;
  grid-template-columns: 50% 50%;
}

.rowTitle {
  font-size: 1.6rem;
}
